/*a=0,b=0,c=1 - 001*/
body{
    font-family: Helvetica, Verdana, sans-serif;
    color:#006100;
    background-color: #E4FFD6;
    margin: 2em;
    padding: 1.5em;
}
/*a=0,b=0,c=1 - 001*/
nav{
    padding: 3em;
    color: #E4FFD6;
    background-color: #006100;
    border-radius: 1.5em;
}
/*a=0,b=0,c=1 - 001*/
aside{
    padding: 1.5em;
    margin: 2em;
}
/*a=0,b=1,c=1 - 011*/
a:hover{
    color: #FF0000;  
    background-color: #006100;
}
/*a=0,b=0,c=2 - 002*/
nav a{
    font-size: 1.4em;
    color: #E4FFD6;
    background-color: #006100;
    padding: 0.5em;
}
/*a=0,b=0,c=1 - 001*/
h1{
    font-weight: bold;
    text-align: center;
    padding: 3em;
    color: #E4FFD6;
    background-color: #006100;
    border-radius: 1.5em;
}
/*a=0,b=0,c=3 - 002*/
fieldset legend{
    background-color: #E4FFD6;
    color: #000000;
}
/*a=0,b=0,c=3 - 003*/
section ul li{
    font-style: italic;
}
/*a=0,b=0,c=3 - 003*/
nav ul li{
    padding: 0.5em;
}
/*a=0,b=0,c=3 - 003*/
table tr th{
    text-align: center;
    font-weight: bold;
}
/*a=0,b=0,c=1 - 001*/
img {
    width: 15%; 
    height: auto;
}
/*a=0,b=0,c=2 - 002*/
footer img {
    width: 5%; 
    height: auto;
}
/*a=0,b=0,c=1 - 001*/
video{
    max-width: 100%;
    height: auto;
}